{:source-paths ["src" "."]
 :dependencies [[riddley "0.2.0"]]
 :builds {:fast-path-benchmark
          {:target :node-script
           :main fast-path-benchmark/-main
           :output-to "target/fast-path-benchmark.js"}}}